.pagina{
  text-align: left;
  background: #caf2f9;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  /*display: inline-block;*/
  border-radius: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
}
.webshopfoto{
  width: 210px;
  height: 300px;
  margin: auto;
}
.artikel button {
  background-color: white;
  border-radius: 10px;
  border: 1px solid;
}
.navigation{
  font-size: 0;
  margin: 0px;
  color: black;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
.nav2 button{
  background: #00adff;
  color: white;
  width: 24%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
  margin-left: 5px;
}
.nav2 button:hover{
  background: #59caff;
  color: white;
  width: 24%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
}
.login button{
  margin-top: -17%;
  /*  margin-left:85.5%;*/
  background: #31af1a;
  color: white;
  width: 10%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
}

.login button:hover{
  background: #43b12f;
  color: white;
  width: 10%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
}
.loguit button{
  margin-top: -17%;
  /*  margin-left:85.5%;*/
  background: red;
  color: white;
  width: 10%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
}

.loguit button:hover{
  background: #ff4949;
  color: white;
  width: 10%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
}
input[name="aantal"]{
  width: 30px !important;
}
.verwijder img{
  background-image: url(stockvekafoto/trashcan.png);
  height: 10px !important;
  width: 10px !important;
}
.artikel{
  width: 200px;
  display: inline-block;
  margin:15px;
  border: 1px solid black;
  border-radius: 10px;
}
.artikel span{
  display: block;
}
.show{
  display: block;
}
.artikel img{
  display: block;
  margin: auto;
  width: 150px;
  height: 250px;
}
.banner img{
  width: 100%;
}

.button-navbar {
  left: -25px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.button-admin-navbar {
  left: -45px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.button-login {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border: 1px solid black;
  border-radius: 10px;
}

/* Menu Colors*/
.edit-color {
  background-color: #03a6f4;
}

.edit-color:hover {
  background-color: #81d4fa !important;
}

.button-color-blue {
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #03a6f4 !important;
}

.button-color-blue:hover {
  background-color: #81d4fa !important;
}

.panel-color-blue {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #81d4fa !important;
}

.button-color-orange {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ff9800 !important;
}

.button-color-orange:hover {
  background-color: #efbf77 !important;
}

.panel-color-orange {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffe0ba !important;
}

.button-color-yellow {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e4d232 !important;
}

.button-color-yellow:hover {
  background-color: #efbf77 !important;
}

.panel-color-yellow {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff8bd !important;
}

.button-color-green {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #4caf50 !important;
}

.button-color-green:hover {
  background-color: #66bb6a !important;
}

.panel-color-green {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #a5dba7 !important;
}

.button-color-darkblue {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #0d47a7 !important;
}

.button-color-darkblue:hover {
  background-color: #448aff !important;
}

.panel-color-darkblue {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #82b1ff !important;
}

/*end Menu Colors*/

button{
  border-radius: 10px;
  align-items: center;
  border: none;
  padding: 15px;
  font-size: 16px;
}

h1{
  text-align: center;
}
.rowcontainer {
  margin-left: 0%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  /*width: 30%;*/
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.forminvoer{
  margin-left: 2%;
}
