html,body{
  margin-left:  0.8%;
}

.pagina{
  text-align: left;
  background: #caf2f9;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  /*display: inline-block;*/
  border-radius: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
}
.artikel button {
  background-color: white;
  border-radius: 10px;
  border: 1px solid;
}
.navigation{
  font-size: 0;
  margin: 0px;
  color: black;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
.nav button{
  background: #31af1a;
  color: white;
  width: 19%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
}
.nav button:hover{
  background: #43b12f;
  color: white;
  width: 19%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
}

.nav2 button{
  background: #00adff;
  color: white;
  width: 24%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
}
.nav2 button:hover{
  background: #59caff;
  color: white;
  width: 24%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
}
.login button{
  margin-top: -17%;
/*  margin-left:85.5%;*/
  background: #31af1a;
  color: white;
  width: 10%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
}

.login button:hover{
  background: #43b12f;
  color: white;
  width: 10%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
}
.loguit button{
  margin-top: -17%;
/*  margin-left:85.5%;*/
  background: red;
  color: white;
  width: 10%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
}

.loguit button:hover{
  background: #ff4949;
  color: white;
  width: 10%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
}
.navigation div{
  width: 25%;
}
.dropdown button{
  width: 100%;
}
.navigate{
  width: 50%;
  height: 25px;
  margin: 0 auto;
  text-align: left;
}
.Fullpage{
  text-align: center;
  width: 100%;
}
.dropdown{
  display: inline-block;
  position: relative;
}
.dropdown-content{
  text-align: center;
  display: none;
  position: absolute;
  background: #caf2f9;
  color: black;
  width: 250px;
  font-size: 15px;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
}
.dropdown-content.show{
  width: 100%;
  text-align: center;
}
.dropdown-content a {
  width: 100%;
  color: black;
  margin: 0 auto;
  text-decoration: none;
  display:block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dropdown-content a:hover {
  background-color: gray;
  border-radius: 10px;
  color: black;
  font-weight: bold;
}
input[name="aantal"]{
  width: 20px !important;

}
.verwijder img{
  background-image: url(stockvekafoto/trashcan.png);
  height: 10px !important;
  width: 10px !important;
}
.artikel{
  display: inline-block;
  margin:15px;
}
.artikel span{
  display: block;
}
.show{
  display: block;
}
.artikel img{
  width: 150px;
  height: 250px;
}
.banner img{
  width: 99.2%;
}

.button-navbar {
  left: -25px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.button-admin-navbar {
  left: -45px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.button-login {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border: 1px solid black;
  border-radius: 10px;
}

.categories {
  border: 1px solid black !important;
  text-align: center !important;
}

/* Menu Colors*/
.edit-color {
  background-color: #03a6f4;
}

.edit-color:hover {
  background-color: #81d4fa !important;
}

.button-color-blue {
  border-radius: 10px;
  background-color: #03a6f4 !important;
}

.button-color-blue:hover {
  background-color: #81d4fa !important;
}

.panel-color-blue {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #81d4fa !important;
}

.button-color-orange {
  border-radius: 10px;
  background-color: #ff9800 !important;
}

.button-color-orange:hover {
  background-color: #efbf77 !important;
}

.panel-color-orange {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffe0ba !important;
}

.button-color-yellow {
  border-radius: 10px;
  background-color: #e4d232 !important;
}

.button-color-yellow:hover {
  background-color: #efbf77 !important;
}

.panel-color-yellow {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff8bd !important;
}

.button-color-green {
  border-radius: 10px;
  background-color: #4caf50 !important;
}

.button-color-green:hover {
  background-color: #66bb6a !important;
}

.panel-color-green {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #a5dba7 !important;
}

.button-color-darkblue {
  border-radius: 10px;
  background-color: #0d47a7 !important;
}

.button-color-darkblue:hover {
  background-color: #448aff !important;
}

.panel-color-darkblue {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #82b1ff !important;
}

/*end Menu Colors*/

button{
  border-radius: 10px;
  align-items: center;
  border: none;
  padding: 15px;
  font-size: 16px;
}

h1{
  text-align: center;
}
.rowcontainer {
  margin-left: 0%;
}
